* {
    font-family: Consolas;
}

/*
index.html
*/

#index {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-index {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 3%;
}

.card-index-img {
    border: 5px solid black;
    max-width: 600px; 
    width: 100%;
    margin-bottom: 20px; 
}

.slider {
    width: 90%; 
    margin: 1% auto; 
}
.slider img {
    width: 100%; 
    height: auto; 
}

.card-index-text {
    border: 5px solid black;
    max-width: 600px;
    width: 100%;
    padding: 20px; 
}


/*
vencedores.html
*/

.card-vencedores {
    display: flex;
    margin: 5%;
    border: 5px solid black;
    padding: 2%;
}

.card-vencedores-img {
    display: inline-flex;
    border: 5px solid red;
}

.card-vencedores-text {
    margin: 1%;
    border: 5px solid red;
    flex-grow: 1;
}

/*
jogos.html
*/

#jogos {
    padding: 0;
  }
  
  .painel-jogos {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  #jogos h1 {
    text-align: center;
  }
  
  .card-jogo-todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-jogo {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h2 {
    margin-top: 10px;
    font-size: 20px;
  }
  